@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Inter, sans-serif;
}

body {
  font-size: 1.6rem;
  background: #1c1c1c;
}

.app {
  width: clamp(350px, 90%, 550px);
  margin: 100px auto;
  background-color: #fff;
}

.app-menu {
  padding: 2.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.color-input {
  width: 6rem;
  height: 4.2rem;
  border: 0.5px solid #d1d5db;
  background: #e5e5e5;
}

.select-wrapper {
  position: relative;
}

.mode-select {
  width: 31.2rem;
  height: 4.2rem;
  padding: 0 1.3rem;
  color: #111827;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #111827;
  font-size: 1.6rem;
  line-height: 2.4rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 10px;
  pointer-events: none;
  border-bottom: 2px solid #9ca3af;
  border-right: 2px solid #9ca3af;
  transform: translateY(-70%) rotate(45deg);
}

.get-scheme-btn {
  width: 12.3rem;
  height: 4.2rem;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  cursor: pointer;
  color: #374151;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.color-scheme {
  height: 46rem;
  display: flex;
}

.color {
  width: 20%;
  height: 100%;
}

.color-bg {
  height: calc(100% - 4.6rem);
  background-color: red;
  cursor: pointer;
}

.color-code {
  height: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b283a;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.4rem;
  cursor: pointer;
}
